services:
  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    env_file:
      - .env
    command:
      - "redis-server"
      - "--user"
      - "${REDISUSER}"
      - "on"
      - ">${REDISPASSWORD}"
      - "~*"
      - "+@all"
      - "--user"
      - "default"
      - "off"
    networks:
      - default

  backend:
    build:
      context: ../../backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - redis
 

  tgbot:
    build:
      context: ../../tgbot
      dockerfile: Dockerfile
    container_name: tgbot
    env_file:
      - .env
    environment:
      TELOXIDE_TOKEN: ${TELOXIDE_TOKEN}
    restart: unless-stopped
    depends_on:
      - redis 

volumes:
  redis_data: