services:
  postgres:
    image: postgres:17
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-itam_hackaton}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/00_init.sql:ro
      - ./local/migrations:/docker-entrypoint-initdb.d/migrations:ro
    networks:
      - default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - default
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    image: itam-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - default
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  tgbot:
    image: ghcr.io/akulalu07/itam_hackaton-tgbot:latest
    container_name: tgbot
    env_file: .env
    environment:
      TELOXIDE_TOKEN: ${TELOXIDE_TOKEN}
    restart: unless-stopped
    networks:
      - default
    depends_on:
      redis:
        condition: service_healthy

  frontend:
    image: itam-frontend:latest
    container_name: frontend
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    networks:
      - default
    depends_on:
      - backend
      - tgbot

volumes:
  redis_data:
  postgres_data:
